@font-face {
    font-family: saysettha;
    src: url(~@/assets/fonts/saysettha_ot.ttf)
}

.home {
    background: #0e0d0d;
    color: #fff;
    font-family: saysettha;
    width: 100%;
    height: 100%
}

.home .spc {
    height: 10px
}

.ttitle {
    font-family: saysettha;
    font-size: 1.2em;
    color: #6ac3ff;
    margin-bottom: 2vh
}

@media screen and (min-width:800px) {
    .ttitle {
        margin-bottom: 20px;
        font-size: 2vh
    }
}

.ttitlet {
    font-family: saysettha;
    font-size: 1.2em;
    line-height: 100%;
    color: #6ac3ff
}

@media screen and (min-width:800px) {
    .ttitlet {
        font-size: 2vh
    }
}

.lut {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

@media screen and (min-width:800px) {
    .lut {
        width: 100%;
        height: calc(100vh - 65px);
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }
}

.lut .lyt01 {
    width: 100%;
    height: 100%
}

@media screen and (min-width:800px) {
    .lut .lyt01 {
        width: 30%
    }
}

.lut .spc_ {
    margin-top: 20px
}

.lut .howp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.lut .howp .howl_ {
    height: 100%
}

.lut .lyt02 {
    width: 100%;
    height: auto;
    margin-top: 0
}

@media screen and (min-width:800px) {
    .lut .lyt02 {
        width: 70%;
        margin-top: 40px
    }
}

.gnr_ .t01 .t02l {
    font-size: 26px;
    text-align: center;
    margin-top: 10px
}

@media screen and (min-width:800px) {
    .gnr_ .t01 .t02l {
        text-align: right;
        margin-top: 0
    }
}

.gnr_ .t01 .t02r {
    font-size: 26px;
    text-align: center
}

@media screen and (min-width:800px) {
    .gnr_ .t01 .t02r {
        text-align: left
    }
}

.gnr_ .ggd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: #fff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 87.5vh
}

.gnr_ .ggd .ggdb {
    width: 100%;
    position: relative;
    line-height: 40px;
    height: auto
}

@media screen and (min-width:800px) {
    .gnr_ .ggd .ggdb {
        width: 50%
    }
}

.gnr_ .ggd .ggdb .grx {
    cursor: pointer;
    height: 95%
}

.gnr_ .ggd .ggdb .grx,
.gnr_ .ggd .ggdb .grx .owel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.gnr_ .ggd .ggdb .grx .owel {
    position: relative;
    margin: 2px;
    height: 6em;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #8b8282;
    -webkit-box-shadow: 0 2px 17px -10px #000;
    box-shadow: 0 2px 17px -10px #000
}

@media screen and (min-width:800px) {
    .gnr_ .ggd .ggdb .grx .owel {
        height: 100%
    }
}

.gnr_ .ggd .ggdb .grx .owel .wps {
    height: 82%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 90%
}

@media screen and (min-width:800px) {
    .gnr_ .ggd .ggdb .grx .owel .wps {
        width: auto
    }
}

.gnr_ .ggd .ggdb .grx .owel .wps .hsdf {
    height: 40%;
    font-family: saysettha
}

.gnr_ .ggd .ggdb .grx .owel .wps .hsdf .txhl {
    width: 90vw;
    font-size: 1.2em;
    line-height: 20px;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left
}

@media screen and (min-width:800px) {
    .gnr_ .ggd .ggdb .grx .owel .wps .hsdf .txhl {
        font-size: 1.5vh;
        width: 10vw
    }
}

.gnr_ .ggd .ggdb .grx .owel .wps .hsdf .txb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1em
}

@media screen and (min-width:800px) {
    .gnr_ .ggd .ggdb .grx .owel .wps .hsdf .txb {
        font-size: 1.5vh
    }
}

.gnr_ .ggd .ggdb .grx .owel .wps .hsdf .txb .ti1 {
    -webkit-box-flex: 1;
    -ms-flex: 1 50%;
    flex: 1 50%;
    line-height: 22px
}

.gnr_ .ggd .ggdb .grx .owel .wps .hsdf .txb .ti2 {
    -webkit-box-flex: 1;
    -ms-flex: 1 50%;
    flex: 1 50%;
    text-align: right;
    line-height: 20px;
    font-size: 1.4em;
    font-family: DSDIGI;
    color: #7cec31
}

@media screen and (min-width:800px) {
    .gnr_ .ggd .ggdb .grx .owel .wps .hsdf .txb .ti2 {
        font-size: 1.8vh
    }
}

.gnr_ .ggd .ggdb .grx .owel .wps ._hsdf {
    width: 100%;
    height: 100%;
    line-height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    line-height: 150%;
    color: #ffe341
}

.gnr_ .ggd .ggdb .grx .owel .wps ._hsdf ._owel {
    -webkit-box-flex: 1;
    -ms-flex: 1 70%;
    flex: 1 70%;
    line-height: 2vh
}

.gnr_ .ggd .ggdb .grx .owel .wps ._hsdf ._owel .ico {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 20px;
    font-size: 3.5em
}

@media screen and (min-width:800px) {
    .gnr_ .ggd .ggdb .grx .owel .wps ._hsdf ._owel .ico {
        font-size: 5vh
    }
}

.gnr_ .ggd .ggdb .grx .owel .wps ._hsdf ._owel .revs {
    float: left;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1)
}

.gnr_ .ggd .ggdb .grx .owel .wps ._hsdf .pwl {
    -webkit-box-flex: 1;
    -ms-flex: 1 30%;
    flex: 1 30%;
    font-family: DSDIGI;
    font-size: 2.5em;
    line-height: 30px;
    text-align: right
}

@media screen and (min-width:800px) {
    .gnr_ .ggd .ggdb .grx .owel .wps ._hsdf .pwl {
        font-size: 4vh
    }
}

.hsow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 40px
}

@media screen and (min-width:800px) {
    .hsow {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        height: 100%
    }
}

.hsow .malsd01 {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

@media screen and (min-width:800px) {
    .hsow .malsd01 {
        height: 50%;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }
}

.hsow .malsd01 .oho {
    height: auto;
    -webkit-box-flex: 1;
    -ms-flex: 1 65%;
    flex: 1 65%
}

.hsow .malsd01 .oho .slp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%
}

.hsow .malsd01 .oho .slp .xslw {
    padding: 10px;
    margin: 10px;
    background: #1d1c1c;
    border: 1px solid #333;
    -webkit-box-shadow: 0 2px 17px -10px #fff;
    box-shadow: 0 2px 17px -10px #fff;
    border-radius: 5px;
    height: 100%
}

.hsow .malsd01 .oho .slp .xslw .att .cht {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    width: 100%
}

.hsow .malsd01 .ngs {
    height: auto;
    -webkit-box-flex: 1;
    -ms-flex: 1 35%;
    flex: 1 35%
}

.hsow .malsd01 .ngs .vls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%
}

.hsow .malsd01 .ngs .vls .nlsl {
    padding: 10px;
    margin: 10px;
    background: #1d1c1c;
    border-radius: 5px;
    height: 100%;
    border: 1px solid #333;
    -webkit-box-shadow: 0 2px 17px -10px #fff;
    box-shadow: 0 2px 17px -10px #fff
}

.hsow .malsd01 .ngs .vls .nlsl .crt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%
}

.hsow .malsd01 .ngs .vls .nlsl .crt .cho {
    -webkit-box-flex: 1;
    -ms-flex: 1 30%;
    flex: 1 30%;
    height: 6em;
    border-bottom: 1px solid #838383
}

@media screen and (min-width:800px) {
    .hsow .malsd01 .ngs .vls .nlsl .crt .cho {
        height: 100%
    }
}

.hsow .malsd01 .ngs .vls .nlsl .crt .cho .owo_ {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%
}

.hsow .malsd01 .ngs .vls .nlsl .crt .cho .owo_ .how_ {
    -webkit-box-flex: 1;
    -ms-flex: 1 50%;
    flex: 1 50%
}

.hsow .malsd01 .ngs .vls .nlsl .crt .cho .owo_ .how_ .lgl {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 2vh
}

.hsow .malsd01 .ngs .vls .nlsl .crt .cho .owo_ .how_ .lgl .lcon img {
    width: 3em;
    height: 4em
}

@media screen and (min-width:800px) {
    .hsow .malsd01 .ngs .vls .nlsl .crt .cho .owo_ .how_ .lgl .lcon img {
        width: 5vh;
        height: 6vh
    }
}

.hsow .malsd01 .ngs .vls .nlsl .crt .cho .owo_ .how_ .lgl .lcon .im1 {
    border: 1px solid #f7a05e
}

.hsow .malsd01 .ngs .vls .nlsl .crt .cho .owo_ .how_ .lgl .lcon .im2 {
    border: 1px solid #c94cfa
}

.hsow .malsd01 .ngs .vls .nlsl .crt .cho .owo_ .how_ .dtl {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.hsow .malsd01 .ngs .vls .nlsl .crt .cho .owo_ .how_ .dtl .des {
    font-family: saysettha
}

.hsow .malsd01 .ngs .vls .nlsl .crt .cho .owo_ .how_ .dtl .amt {
    font-family: DSDIGI;
    font-size: 5em;
    color: #7cec31
}

.hsow .malsd01 .ngs .vls .nlsl .crt .cho .owo_ .how_ .dtl .amt .cl1 {
    color: #f7a05e
}

.hsow .malsd01 .ngs .vls .nlsl .crt .cho .owo_ .how_ .dtl .amt .cl2 {
    color: #c94cfa
}

@media screen and (min-width:800px) {
    .hsow .malsd01 .ngs .vls .nlsl .crt .cho .owo_ .how_ .dtl .amt {
        font-size: 7.5vh
    }
}

.hsow .malsd01 .ngs .vls .nlsl .crt .cho2 {
    -webkit-box-flex: 1;
    -ms-flex: 1 20%;
    flex: 1 20%;
    margin-top: 10px
}

.hsow .malsd01 .ngs .vls .nlsl .crt .cho2 ._jwo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.hsow .malsd01 .ngs .vls .nlsl .crt .cho2 ._jwo .lnt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 50%
}

.hsow .malsd01 .ngs .vls .nlsl .crt .cho2 ._jwo .lnt .lo {
    -webkit-box-flex: 1;
    -ms-flex: 1 50%;
    flex: 1 50%;
    line-height: 120%;
    font-family: saysettha;
    padding-top: 5px;
    font-size: 1em
}

@media screen and (min-width:800px) {
    .hsow .malsd01 .ngs .vls .nlsl .crt .cho2 ._jwo .lnt .lo {
        font-size: 1.5vh
    }
}

.hsow .malsd01 .ngs .vls .nlsl .crt .cho2 ._jwo .lnt .lo2 {
    -webkit-box-flex: 1;
    -ms-flex: 1 50%;
    flex: 1 50%;
    text-align: right;
    font-family: DSDIGI;
    line-height: 120%;
    color: #7cec31;
    font-size: 1.5em
}

@media screen and (min-width:800px) {
    .hsow .malsd01 .ngs .vls .nlsl .crt .cho2 ._jwo .lnt .lo2 {
        font-size: 2vh
    }
}

.hsow .malsd02 {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%
}

@media screen and (min-width:800px) {
    .hsow .malsd02 {
        height: 30%
    }
}

.hsow .malsd02 .woe {
    height: 100%
}

.hsow .malsd02 .woe .pel {
    border: 1px solid #333;
    -webkit-box-shadow: 0 2px 17px -10px #fff;
    box-shadow: 0 2px 17px -10px #fff;
    padding: 10px;
    margin: 10px;
    background: #1d1c1c;
    border-radius: 5px;
    height: 100vh
}

@media screen and (min-width:800px) {
    .hsow .malsd02 .woe .pel {
        height: 95%
    }
}

.hsow .malsd02 .woe .pel .bxn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

@media screen and (min-width:800px) {
    .hsow .malsd02 .woe .pel .bxn {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }
}

.hsow .malsd02 .woe .pel .bxn .nbw:first-of-type {
    border-left: none;
    border-top: none
}

.hsow .malsd02 .woe .pel .bxn .nbw {
    -webkit-box-flex: 1;
    -ms-flex: 1 50%;
    flex: 1 50%;
    padding: 10px;
    height: 25vh;
    border-top: 1px solid #333
}

@media screen and (min-width:800px) {
    .hsow .malsd02 .woe .pel .bxn .nbw {
        border-left: 1px solid #333;
        border-top: none;
        height: 21vh
    }
}

.hsow .malsd02 .woe .pel .bxn .nbw ._mny {
    width: 100%;
    height: auto
}

.hsow .malsd02 .woe .pel .bxn .nbw ._nso {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%
}

.hsow .malsd02 .woe .pel .bxn .nbw ._nso .wlx {
    position: relative;
    height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 50%;
    flex: 1 50%
}

.hsow .malsd02 .woe .pel .bxn .nbw ._nso .wlx ._tx {
    height: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
}

.hsow .malsd02 .woe .pel .bxn .nbw ._nso .wlx ._tx ._txin {
    -webkit-box-flex: 1;
    -ms-flex: 1 50%;
    flex: 1 50%;
    font-family: saysettha;
    font-size: 1em
}

@media screen and (min-width:800px) {
    .hsow .malsd02 .woe .pel .bxn .nbw ._nso .wlx ._tx ._txin {
        font-size: 1.8vh
    }
}

.hsow .malsd02 .woe .pel .bxn .nbw ._nso .wlx ._tx ._txinn {
    -webkit-box-flex: 1;
    -ms-flex: 1 50%;
    flex: 1 50%;
    text-align: right;
    font-family: DSDIGI;
    font-size: 4vh;
    color: #7cec31
}

.hsow .malsd02 .woe ._pel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
    margin: 0 0 10px 0
}

@media screen and (min-width:800px) {
    .hsow .malsd02 .woe ._pel {
        height: 80%;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        margin: 26px 0 10px 0
    }
}

.hsow .malsd02 .woe ._pel .obj {
    -webkit-box-flex: 1;
    -ms-flex: 1 50%;
    flex: 1 50%;
    margin: 10px
}

.hsow .malsd02 .woe ._pel .obj .dls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 5px;
    height: 95%;
    padding: 10px;
    background: #470404;
    background: -webkit-gradient(linear, left bottom, left top, from(#470404), color-stop(40%, #500305), to(#900909));
    background: linear-gradient(0deg, #470404, #500305 40%, #900909)
}

@media screen and (min-width:800px) {
    .hsow .malsd02 .woe ._pel .obj .dls {
        height: 100%
    }
}

.hsow .malsd02 .woe ._pel .obj .dls .tlt_ {
    font-size: 22px;
    line-height: 100%
}

.hsow .malsd02 .woe ._pel .obj .dls ._cnt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 10px;
    font-family: saysettha
}

.hsow .malsd02 .woe ._pel .obj .dls ._cnt .cntl {
    -webkit-box-flex: 1;
    -ms-flex: 1 50%;
    flex: 1 50%;
    font-size: 1.8vh
}

.hsow .malsd02 .woe ._pel .obj .dls ._cnt .cnts {
    font-family: DSDIGI;
    -webkit-box-flex: 1;
    -ms-flex: 1 50%;
    flex: 1 50%;
    font-size: 2.8vh;
    text-align: right;
    color: #fff
}

::-webkit-scrollbar {
    width: 6px
}

::-webkit-scrollbar-track {
    background: hsla(0, 0%, 100%, 0)
}

::-webkit-scrollbar-thumb {
    background: rgba(34, 34, 34, .23)
}